@{
    ViewBag.Title = "QUẢN LÝ NHÀ SÁCH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">
    <div class="container">
        <div class="row section recentworks topspace">
            <div class="thumbnails recentworks row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/1.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4> Hạt giống tâm hồn  </h4>
                            <p>Tác giả: Nguyễn Văn Phước </p>
                            <p>Giá bán: 10000đ</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/2.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Những bài học cuộc sống </h4>
                            <p>Tác giả: Hal Urban</p>
                            <p>Giá bán: 50000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/3.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Sống chậm </h4>
                            <p>Tác giả:  Melanie Barnes</p>
                            <p>Giá bán: 60000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/4.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Tôi tài giỏi bạn cũng thế </h4>
                            <p>Tác giả: Adam Khoo</p>
                            <p>Giá bán: 45000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/5.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Đơn giản hóa cuộc sống </h4>
                            <p>Tác giả: Werner Tiki Küstenmacher</p>
                            <p>Giá bán: 85000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/6.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Bốn mùa cuộc sống </h4>
                            <p>Tác giả: Jim Rohn</p>
                            <p>Giá bán: 35000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/7.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Tôi là ai </h4>
                            <p>Tác giả: Richard David Precht</p>
                            <p>Giá bán: 60000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/8.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Không gia đình</h4>
                            <p>Tác giả: Hector Malot</p>
                            <p>Giá bán: 30000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/9.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Người thầy </h4>
                            <p>Tác giả: Nguyễn Chí Vịnh</p>
                            <p>Giá bán: 60000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/10.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Phù thủy xứ OZ</h4>
                            <p>Tác giả: L. Frank Baum</p>
                            <p>Giá bán: 70000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/11.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Man's Search For Meaning</h4>
                            <p>Tác giả: Viktor Frankl</p>
                            <p>Giá bán: 45000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/12.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Tư duy nhanh và chậm</h4>
                            <p>Tác giả: Daniel Kahneman</p>
                            <p>Giá bán: 45000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/13.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4> The Power of Now</h4>
                            <p>Tác giả: Eckhart Tolle</p>
                            <p>Giá bán: 85000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/14.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4> Cách người Do Thái quản lý tiền và tải sản  </h4>
                            <p>Tác giả: Eran Katz</p>
                            <p>Giá bán: 75000đ</p>
                        </div>
                    </a>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a class="thumbnail">
                        <span class="img">
                            <img src="~/theme/images/15.jpg" alt="" style="width:200px; height:200px; margin-left:50px;">
                            <span class="cover"></span>
                        </span>
                        <div class="book-info">
                            <h4>Phương Pháp Giáo Dục Con Của Người Do Thái</h4>
                            <p>Tác giả: Tây Mông</p>
                            <p>Giá bán: 55000đ</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row section clients topspace">
            <h2 class="section-title"><span></span></h2>
        </div> <!-- /section -->
    </div> <!-- /container -->
</main>

<style>
    .book-info {
        border: 1px solid #ddd;
        padding: 10px;
        margin-top: 10px;
        text-align: center;
    }
</style>

